.Home{
    height: 100vh;
    text-align: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(23, 70, 70);
}
li{
    list-style: none;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 80%;
}
li>a{
    text-decoration: none;
    font-size: larger;
    font-weight: 700;
    color: whitesmoke;
}
.info{
    margin: 0 0 1rem 0;
    height: 50%;
    font-size: 35px;
    text-align: left;
}
.socialSection{
    position: absolute;
    bottom: 0;
    left: 2rem;
    display: flex ;
    flex-direction: row;
    font-size: 25px;
}
.imgHome{
    width: 100%;
    position: relative;
}
.linked{
    background-color:#4294D4 ;
    color: whitesmoke;
    width: 40px;
    height: 40px;
    border-style: none;
    border-radius: 5px 0  0  0;
}
.git{
    background-color: black ;
    color: whitesmoke;
    width: 40px;
    height: 40px;
    border-style: none;
    border-radius: 0 0 0 0;
}
.CV{
   background-color:#004552 ;
   width: 40px;
   height: 40px;
   border-style: none;
   border-radius: 0 5px 0  0;
}
button>a{
    text-decoration: none;
    color: whitesmoke;
}


.imgBtn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    background-color: #006985;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
}
#btn-menu{
    visibility: hidden;
    margin: -10px 10px 0 0;
}
.menu{
    position: absolute;
    display: flex;
    width: 90%;
    height: 90vh;
    top: 0;
    flex-direction: column;
    justify-content: space-evenly;
    color: whitesmoke;
    left: -100%;
    transition: left .5s linear ;
    background-color: rgb(23, 70, 70);;
}
#btn-menu:checked ~ .menu{
    left: 0;
}







@media only screen and (min-width: 700px) {

  }
  @media only screen and (min-width: 992px) {
    .contact{
    }
    .socialBtn{
        width: 60px;
        height: 60px;
        font-size: 25px;
    }

}