.Menubtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: .5rem; */
}
.logo{
    max-width: 3rem;
    height: 3.5rem;
    z-index: 1;
    position: fixed;
    top: 1rem;
    left: 1rem;
}
.bars_menu{
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
    position: fixed;
    top: 1rem;
    right: 1rem;
}
.bars_menu span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(108, 138, 119);
    margin-top: 6px;
    transform-origin: 0px 100% ;
    transition: all 300ms ;
}
.line1.open{
    transform: rotate(45deg) translate(-2px,1px);
}
.line2.open{
    opacity: 0;
    margin-left: -30;
}
.line3.open{
    transform: rotate(-45deg) translate(-4px,2px);
}
.menu{
    max-width: 350px;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #006A7A;
    position: absolute;
    display: flex;
    justify-content: center;
    transition: all 0.3s linear;
   transform: translateX(-100%);
}
.menu.open{
    transform: translateX(0);
}

@media only screen and (min-width: 600px) {

}
