.socialSection{
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex ;
    flex-direction: row;
    justify-content: space-around;
    font-size: 25px;
}

.linked{
    background-color:#4294D4 ;
    color: whitesmoke;
    width: 40px;
    height: 40px;
    border-style: none;
    border-radius:50%;
}
.git{
    background-color: black ;
    color: whitesmoke;
    width: 40px;
    height: 40px;
    border-style: none;
    border-radius: 50%;
}
.CV{
   background-color:#004552 ;
   width: 40px;
   height: 40px;
   border-style: none;
   border-radius: 50%;
}

@media only screen and (min-width: 600px) {
    .socialSection{
        bottom: 0;
        justify-content: space-around;
        font-size: 35px;
    }
    .linked{
        width: 40px;
        height: 40px;
        border-style: none;
        border-radius:  50%;
    }
    .git{
        width: 40px;
        height: 40px;
        border-style: none;
        border-radius:  50%;
    }
    .CV{
       width: 40px;
       height: 40px;
       border-radius:  50%;
    }
  }


 